.bodycontainer {
    margin: 15%;
}

.appbody {
    margin-top: 15%;
}

.thumbnail-link {
    background-color: white;
}

.thumbnail-link:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.thumbnailcard {
    max-width: 384px;
}

.thumbnailcard:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.thumbnailcardavatar {
    max-height: 24px;
    max-width: 24px;
    vertical-align: top;
    text-align: right;
    margin-left: 70%;
}

.thumbnailcardauthor {
    font-size: 14px;
    color: #8D8D8D;
    text-align: right;
    padding-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.thumbnailcardcreateddate {
    font-size: 14px;
    color: #8D8D8D;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.videotitle {
    font-size: 18px;
    color: #171717;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}