<div class="container appbody">
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 thumbnailcard" *ngFor="let video of videos">
            <a href="http://localhost:3000/api/videos/{{video.id}}" class=" thumbnail-link btn-hover">
                <img src="{{video.previewUrl}}" class="thumbnailcardimage justify-content-center">
                <p class="videotitle">{{video.title}}</p>
                <div class="d-flex flex-row">
                    <div class="col-md-6 col-xs-6">
                        <p class="thumbnailcardcreateddate">{{video.createdDate}}</p>
                    </div>
                    <div class="col-md-6 col-xs-6">
                        <div class="d-flex flex-row">
                            <div class="col-5">
                                <img class="thumbnailcardavatar align-items-right float-right"
                                    src="{{video.author.pictureUrl}}">
                            </div>
                            <div class="col-7">
                                <p class="thumbnailcardauthor">{{video.author.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>