<header class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div class="col-10">
            <a (click)="goBack()">
                <img src="assets/back.png" alt="">
                <p>Back</p>
            </a>
        </div>
        <div class="col-2 row d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-4">
                <img src="{{posts.pictureUrl}}" alt="" class="img-fluid pictureUrl">
            </div>
            <div class="col-8 align-middle">
                <p class="name">{{posts.name}}</p>
            </div>
        </div>

    </div>
</header>